Meeting Query (1).json
{
  "name": "Meeting Query",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Meeting Query",
        "formDescription": "Ask questions about your past meetings",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Question",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "f9fdcf1f-cbf9-4de6-b07c-cf269faf9620",
      "name": "On form submission",
      "webhookId": "2867c647-718e-4c1c-ba1c-805d90982186"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "meeting-summaries",
          "mode": "list",
          "cachedResultName": "meeting-summaries"
        },
        "prompt": "=={{ $('On form submission').item.json['Your Question'] }}",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "00d371c2-698d-45fe-9e02-3a6866b21de8",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Ec64NkLNFEBhBCHF",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "c024c4ab-915d-48ef-a6c6-2b91f3e29150",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "fjMPhz1a7ElDOTyZ",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"llama-3.3-70b-versatile\", \"messages\": [{ \"role\": \"user\", \"content\": \"Answer this question: \" + $('On form submission').item.json['Your Question'] + \" Based on this context: \" + $json.document.pageContent }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        0
      ],
      "id": "15957824-2a8e-44a0-8e13-d33d930665e2",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "RSEfe0ulP9M2fQaZ",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d8dd86fb-017c-4fb1-9a7f-b4184e78c651",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71a239f1ea12324df44865637d97d47159b4fb40301d3b2c05e609c53fb69ae3"
  },
  "id": "7eg8M14gCwJwBCrb",
  "tags": []
}